.desktop {
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.grid {
  z-index: var(--layer-desktop);
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(auto-fill, minmax(48px, 1fr));
  grid-template-columns: 48px;
  grid-auto-columns: 48px;
  grid-auto-flow: column;
  grid-gap: 30px 15px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.item,
.item-selected {
  width: 48px;
  height: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.icon {
  width: 32px;
  height: 32px;
}

.item-selected {
  background-color: var(--tertiary-disabled);
}

.item:hover {
  background-color: var(--tertiary-disabled);
  color: black;
}
